.container-item__content{
    border: 1px solid #bebdbd;
    border-radius: 15px;
    width: 40%;
    height: 30vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto 15px auto;
}

.container-item__img{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.container-item__img img{
    width: 80px;
    margin-right: 15px;
}



