 .main__container{
     height: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 .main__search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 0px 0px 40px 40px;
    width: 100%;
  }

  .main__title{
      margin-bottom: 15px;
  }
  
 
  
  .input-search{
    border: 2px solid #6FE2E6;
    border-radius: 15px;
    color: #000000;
    font-size:16px;
    height: 50px;
    padding: 0px 20px;
    width: 60%;
    outline:none;
  }

  .btn-search{
    width: 50px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: -50px;
  }

  #search__img-button{
    width: 32px;
  }
  
  ::placeholder{
  color:#000000;
  }

  .container-item__content{
      border: 1px solid #bebdbd;
      border-radius: 15px;
      width: 40%;
      height: 30vh;
      margin-left: 20px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

  .container-item__img{
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
  }

  .container-item__img img{
      width: 80px;
      margin-right: 15px;
  }