.main__container{
     height: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 
 .main__search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 0px 0px 40px 40px;
    width: 100%;
  }

  .main__title{
      margin-bottom: 15px;
  }
  
 
  
  .input-search{
    border: 2px solid #6FE2E6;
    border-radius: 15px;
    color: #000000;
    font-size:16px;
    height: 50px;
    padding: 0px 20px;
    width: 60%;
    outline:none;
    font-family:'Montserrat', sans-serif;;
  }

  .btn-search{
    width: 50px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: -50px;
  }

  #search__img-button{
    width: 32px;
  }
  
  ::placeholder{
  color:#000000;
  }

  