*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Montserrat', sans-serif;
}

.main-container{
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
}

.header{
  height: 10vh;
  width: 100%;
  background-color: #C5F3F5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:15px;
  
  
}

.header__menu ul{
  list-style: none;
}

.header__menu ul li{
  list-style: none;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}








